<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>My Weather Data API</h1>

<h3>How to:</h3>
<p> URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p> URL example: http://127.0.0.1:5000/api/v1/10/19881025</p>


<img src="{{url_for('static', filename='pic.png')}}" alt="pic" style="width:500px">
</body>
</html>